*{
    max-width: 100%;
    max-height: 100%;
}

body{
    margin:0;
    background: url(Backgrounds-donwload-desktop-kids-wallpapers.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
h1{
    text-align: center;
    padding: 1% 0% 1% 0%;
}
/*----------------------- navigatie balk ---------------------*/
#nav{
    background-color: rgb(189, 93, 76);
    border-radius: 1em;
    margin: 0% 25% 0% 25%;
    padding: 0% 0% 0% 0;
}
#nav ul{
    list-style-type: none;
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}
#nav ul li{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
}
#nav ul li a:hover{
    color: white;
}
#nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}
#block1{
    background-color: lightgreen;
    border-radius: 1em;
    padding: 1% 2% 5% 2%;
    margin: 2% 25% 2% 25%;
}

#ondersteimage{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%
}

/*----------------------- block 1 gedeelte -----------------------------------*/

#block1 p{
    position: relative;
    top: 0;
    right: 0;
    text-align: left;
    font-size: 1.5em;
}
#block1 p img{
    float: left;
}
/*------------------- middenste blok met Fotos op de foto pagina--------------*/
#block2{
    background-color: lightgreen;
    border-radius: 1em;
    padding: 1% 2% 1% 2%;
    margin: 2% 25% 2% 25%; 
}

#block1 h2{
    text-align: center;
}


#block2 table td{ 
    text-align: center;
}
table img{
    height:100%;
    width: 100%;
}

/* ------------------- onderste balk met adres gegevens----------------*/
#gegevens{
    background-color: lightgreen;
    height: 40%;
    padding: 1% 0% 1% 0%;
    margin: 0% 25% 0% 25%;
    border-radius: 1em 1em 0em 0em;
}
#gegevens img{
    float: left;
    margin-top: 1.5%;
    margin-left: 10%;
    width: 40%;
    height: 40%;
}
.adresgegevens{
    text-align: right;
    margin-right: 5%;
}
div.gallery:hover{
    border: 1px solid #777;
}